<template name="helpContentENCategoryPool">

    (##) Themen

    <a href="/img/help/de/Themen-Pool.jpg" data-lightbox="img-1"
       data-title="Themen-Pool mit Such-, Sortier- und Filterfunktionen">
        <img src="/img/help/de/Themen-Pool.jpg" alt="Themen-Pool"
             class="img-responsive center-block">
    </a>
    <ul class="thm-numbering">
        <li><strong>Suchfunktion:</strong> Tippe ein, was dich interessiert und schau, ob zu diesem Thema eine
            Lernkartei oder ein Repetitorium existiert.
            Gesucht wird im Titel und Beschreibungstext aller veröffentlichter Karteien und Repetitorien.
            Klick auf einen Treffer und du gelangst zu den Karten.
        </li>
        <li><strong>Sortier- und Filteroptionen:</strong> Karteien können im Tabellenkopf sortiert und gefiltert werden.
            Die Sortieroptionen sind: alphabetisch nach Karteititel, Erstellungs- oder Aktualisierungsdatum.
            Die Filteroptionen sind: Karteityp, Level, Autor/in, Bonusphase, Community und Zugangsart.
            Du kannst mehrere Filter gleichzeitig aktivieren. Die App merkt sich deine Einstellungen.
            Wenn du auf eine andere Seite wechselst und wieder zurückkehrst, sind die Filter weiterhin aktiv.
        </li>
        <li><strong>Auswahl einer Kartei in der Themenwolke:</strong> Klickst du in der Wolke auf das Thema einer Kartei, so
            so werden alle Details angezeigt.
            In der Listendarstellung der Themen öffnet der Button ganz rechts mit der Pfeilspitze nach unten die vollständige Beschreibung der Kartei.
        </li>
    </ul>
</template>
